<p (click)="handleUpdate()">
  Hello {{ name }}
</p>

<ul>
  <li *ngFor="let item of users; let i = index; let f = first" (click)="alertUser(item)">{{ i }} - {{ item.firstname }} {{ item.lastname }} <span [style.display]="f ? 'inline' : 'none'">First</span></li>
</ul>

<div *ngIf="isDisabled; else enabled">
  <p>The button is disabled!</p>
</div>
<ng-template #enabled>
  <p>The button is enabled!</p>
</ng-template>

<button (click)="clickButton()">Enable/Disable</button>
<button [disabled]="isDisabled">Submit</button>